.list-item {
  background-color: #fce4ec;
  font-weight: bold;
}

.card-element {
  background-color: #fce4ec;
}
.card-header {
  font-weight: bold;
}

.watch-now-btn {
  background-color: #f48eb1;
}

